html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

/* Nav Styles */

.nav {
    padding: 2rem 0;
}

.logo {
    width: 10%;
}

#title {
    text-align: center;
    margin-top: 2%;
}

#title h1 {
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 30%;
}

#title h2 {
    margin-top: 3%;
    font-size: x-large;
}

.nav__icon,
.nav__close,
.nav__bgOverlay {
    display: none;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__list li {
    display: inline-block;
    margin: 0 1rem;
}

.nav__list .nav__link {
    font-size: 1.8rem;
    font-family: Architects Daughter;
    color: var(--black-2);
    padding: 0.5rem;
}

.nav__list li:hover .nav__link {
    color: var(--black-1);
}

.nav__link:hover {
    background-color: yellowgreen;
}

@media only screen and (max-width: 768px) {
    .nav {
        position: relative;
        /* overflow-x: scroll; */
    }

    .nav__icon {
        display: block;
    }

    .nav__icon svg,
    .nav__close svg {
        pointer-events: none;
        height: 30px;
        width: 30px;
    }

    .nav__close {
        display: block;
        position: absolute;
        color: var(--black-1);
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }

    .nav__list {
        z-index: 1000;
        position: absolute;
        left: 100%;
        top: 0;
        height: 100vh;
        width: 80%;
        background: var(--white-1);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        transform: translate(0%);
        overflow: hidden;
        transition: 0.3s ease-in transform;
    }

    .nav__list.show {
        transform: translate(-100%);
    }

    .nav__list li {
        display: block;
        text-align: right;
        margin-bottom: 2rem;
    }

    .nav__list a {
        font-size: 1.6rem;
    }

    .nav__bgOverlay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
        height: 100vh;
        width: 100%;
        background: rgba(18, 24, 14, 0.808);
        display: none;
    }

    .nav__bgOverlay.active {
        display: block;
    }
}


/* End Nav Styles */


/* Global Button Styles */

.btn {
    color: var(--violet);
    font-family: Architects Daughter;
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
}

.primary-btn {
    color: var(--violet);
    background: var(--pink);
}

@media only screen and (min-width: 700px) {
    .btn {
        padding: 1.3rem 2rem;
        font-size: 2rem;
    }
}


/* End Global Button Styles */


/* Store info section styles*/

.storeInfo__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.storeInfo__item {
    background-color: var(--pink);
    padding: 20px 30px;
    text-align: center;
    text-align: center;
    border-radius: 12px;
    width: 150px;
}

.storeInfo__icon {
    width: 30px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.storeInfo__title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--black-1);
}

.storeInfo__text {
    font-size: 1.4rem;
    color: var(--black-2);
}

@media only screen and (min-width: 768px) {
    .storeInfo__wrapper {
        gap: 2rem;
    }

    .storeInfo__item {
        min-width: 200px;
        padding: 40px 0;
    }

    .storeInfo__icon {
        width: 47px;
        margin-bottom: 2.5rem;
    }

    .storeInfo__title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .storeInfo__text {
        font-size: 1.6rem;
    }
}


/* propos style */

.propos {
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 10%;
    padding-left: 10%;
    background-image: url(/Images/biscuit_1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.propos p {
    text-align: center;
    padding: 1%;
    background-color: white;
    border-radius: 25px;
    border: rgba(23, 13, 13, 0.933) solid 1px;
    font-size: x-large;
}


/* Slideshow style */

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow__wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 5%;
}

.slideshow__col1 {
    flex: 1;
}

.slideshow__col2 {
    flex: 1;
}


/* Slideshow container */

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/* GALLERY */








/* paiement */

.paiement {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--black-2);
    margin: 1em;
    padding: 2%;
}

.paiement img {
    height: 40px;
}


/* Footer Styles */

footer {
    background: var(--pink);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__logo {
    width: 150px;
    margin-bottom: 2rem;
}

.footer__desc {
    font-size: 1.4rem;
    color: var(--black-2);
    margin-bottom: 2rem;
}

.footer__socials__title {
    font-size: 1.8rem;
    color: var(--black-1);
    margin-bottom: 1rem;
}

.footer__socials li {
    display: inline-block;
    margin-right: 0.5rem;
}

.footer__socials a {
    padding: 0.5rem 0.8rem;
    background-color: var(--white-1);
    border: 1px solid var(--black-2);
    border-radius: 8px;
}

.footer__socials svg {
    width: 20px;
    color: var(--black-2);
}

.footer__text__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--black-1);
    font-weight: 600;
}

.footer__text a {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--black-2);
    font-family: Raleway;
    font-weight: 500;
    line-height: 1.4em;
}

@media only screen and (min-width: 768px) {
    footer {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }

    .footer__wrapper {
        flex-direction: row;
    }

    .footer__col1 {
        flex: 1;
    }

    .footer__col2 {
        flex: 2;
    }

    .footer__desc {
        max-width: 300px;
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }

    .footer__socials__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .footer__text__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .footer__text a {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

#copyright {
    padding: 1rem 0;
}

.copyright__text {
    font-size: 1.4rem;
    text-align: center;
}

.copyright_text a {
    text-decoration: none;
    color: brown;
}

@media only screen and (min-width: 768px) {
    .copyright__text {
        font-size: 1.6rem;
        text-align: left;
    }
}


/* End Footer Styles */